/* Navbar Desktop */

.navbar {
    width: 100%;
    justify-content: space-between;
    font-size: 1.6rem;
    font-family: "Market Deco";
    padding: 2rem;
    box-sizing: border-box;
    z-index: 100;
    position: fixed;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: 150ms ease;
    transition-delay: 100ms;
}

.navbar a:hover {
    font-size: 1.8rem;
    color: #c4c4c4;
}

.navbar-right {
    gap: 6rem;
}

/* Navbar Mobile */

.navbar-mobile {
    width: 100%;
    justify-content: space-between;
    font-size: 1.6rem;
    font-family: "Market Deco";
    box-sizing: border-box;
    z-index: 100;
    position: fixed;
    display: none;
}

.navbar-menu {

}

.navbar-menu-open {
    list-style: none;
    cursor: pointer;
    font-size: 4rem;
    padding: 1rem;
}

/* Hides marker on Safari */
.navbar-menu-open::-webkit-details-marker {
    display: none;
}

.navbar-menu-content {
    gap: 4rem;
    flex-direction: column;
    padding: 1rem;
    font-size: 3rem;
    height: 100vh;
}

.navbar-menu-content a {
    text-decoration: none;
    color: white;
}

.navbar-menu[open] {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.8rem);
    -webkit-backdrop-filter: blur(0.8rem);
    transition: 300ms ease;
}

/* Query */

@media screen and (max-width: 1090px){
    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: inline;
    }
}