/* Navbar Desktop */

.navbar {
    width: 100%;
    justify-content: space-between;
    font-size: 1.6rem;
    font-family: "Market Deco";
    padding: 2rem;
    box-sizing: border-box;
    z-index: 100;
    position: fixed;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: 150ms ease;
    transition-delay: 100ms;
}

.navbar a:hover {
    font-size: 1.8rem;
    color: #c4c4c4;
}

.navbar-right {
    gap: 6rem;
}

/* Navbar Mobile */

.navbar-mobile {
    width: 100%;
    justify-content: space-between;
    font-size: 1.6rem;
    font-family: "Market Deco";
    box-sizing: border-box;
    z-index: 100;
    position: fixed;
    display: none;
}

.navbar-menu {
    margin: 1rem;
}

.navbar-menu-open {
    list-style: none;
    cursor: pointer;
    font-size: 4rem;
}

.navbar-menu-open::-webkit-details-marker {
    display: none;
}

.navbar-menu-content {
    gap: 4rem;
    justify-content: space-evenly;
    width: 60%;
    margin: 1rem auto;
    font-size: 2rem;
}

.navbar-menu-content a {
    text-decoration: none;
    color: white;
}

/* Query */

@media screen and (max-width: 1090px){
    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: inline;
    }
}