@font-face {
    font-family: "Chiffone";
    src: url(../../resources/fonts/ChiffonePersonalUse.ttf);
}

@font-face {
    font-family: "Market Deco";
    src: url(../../resources/fonts/Market_Deco.ttf);
}

@font-face {
    font-family: "Vollkorn";
    src: url(../../resources/fonts/Vollkorn-VariableFont_wght.ttf);
}